// Offcanvas

body.modal-open {
    overflow: hidden;
}
.offcanvas-backdrop.show, .modal-backdrop.show {
      opacity: 1;
      background-color: rgba(15,23,50,.5);
      backdrop-filter: blur(4px);
}
