/node_modules
/stubs
/Modules
/public/hot
/public/vendor
/public/storage
/storage/*.key
/vendor
/stubs
modules_statuses.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
