// Optional: Customize body background and text

$body-bg: #f8fafc;
$body-color: #01303F;



// Custom Bootstrap theme color overrides
$primary:   #02A9F7;
$secondary: #89D6FB;
$success:   #89D6FB;
$info:      #02A9F7;
$warning:   #02577A;
$darker:    #01303F;
$light:     #D4F0FC;
$dark:      #02577A;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

